<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781111232273-hf1vrtddk6mkq1mfvl30fiej28iagsmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781111232273-hf1vrtddk6mkq1mfvl30fiej28iagsmn</string>
	<key>API_KEY</key>
	<string>AIzaSyATLnhMlo3luRXj7PHOWBnlQVkHuhhutsA</string>
	<key>GCM_SENDER_ID</key>
	<string>781111232273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>restoranapp-b8482</string>
	<key>STORAGE_BUCKET</key>
	<string>restoranapp-b8482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781111232273:ios:5f9d0db78940f01b82aeb0</string>
</dict>
</plist>